extends ../layout

block content
	div(class="jumbotron")
		h2 Igor Ricardo Alves da Silva
		h3 Estudante de Análise e Desenvolvimento de Sistemas
		p(cclass="lead") Emails: igorwytsk@outlook.com | igor.silva48@fatec.sp.gov.br
		p(cclass="lead") Celular: (11) 97743-8178
		br
		br
		br
		a(href="#" class="btn btn-primary") Acessar repositório GitHub