extends ../layout

block content
	div(class="jumbotron")
		h1 Negociação de Mercadorias
		p(cclass="lead") Bem vindo, para começar o gerenciamento clique no botão abaixo.
		p
			a(href="/mercadorias" class="btn btn-lg btn-success") Ir para mercadorias